<h5 class="text-md-center m-5">Player Profiles</h5>
<div class="card text-dark mt-5 ms-auto text-start border-0">
  <div class="card-body text-center">
    <div class="d-grid">
      <div class="row sticky-top bg-white pb-2">
        <div class="col-1">
          <h5 class="card-title" style="color: rgba(135,151,137,0.5)">Id</h5>
        </div>
        <div class="col">
          <h6 class="card-title">Name</h6>
        </div>
        <div class="col">
          <h6 class="card-title">Email</h6>
        </div>
        <div class="col">
          <h6 class="card-title">Phone Number</h6>
        </div>
      </div>
      <div *ngFor="let user of users">
        <div class="row" (click)="playerProfilesService.redirectToProfilePage(user.playerId)">
          <div class="col-1">
            <h6 class="card-title" style="color: rgba(135,151,137,0.5)">{{user.playerId}}</h6>
          </div>
          <div class="col">
            <h6 class="card-title">{{user.name}}</h6>
          </div>
          <div class="col">
            <h6 class="card-title" style="font-size: 12px">
              {{user.email}}
            </h6>
          </div>
          <div class="col">
            <h6 class="card-title" style="font-size: 16px">
<!--              <i class="fa fa-phone pe-2" style="font-size: 14px" ></i>-->
              {{user.phoneNumber}}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



